---
title: {{ post.title }}
path: /{{ post.slug }}
date: {{ post.published_at }}
summary: {{ post.excerpt }}
reading_time: {{ post.readingTime }}
tags: ['frontend', 'coding', 'vue']
image: {{ post.feature_image }}
---

{{ post.html }}